<h2>Conducting EDA to gain insights into electricity consumption patterns and network performance.</h2>

In [1]:
#import librarial
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import geopandas as gp

In [2]:
#!pip install geopandas

In [3]:
df1 = pd.read_csv("data/ev_distribution_dataset.csv")
df1.head()

,Timestamp,Geographical_Area,Customer_Type,Electricity_Consumption (kWh),EV_Charging_Station_Location,EV_Charging_Station_Specifications,EV_Type,Charging_Habit,Number_of_EVs,Substation_ID
0,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907
1,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907
2,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907
3,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907
4,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907

In [4]:
df2 = pd.read_csv("data/geospatial_dataset.csv")

In [5]:
df3 = pd.read_csv("data/weather_dataset.csv")
df3.head()

,Timestamp,Temperature (°C),Precipitation (mm),Weather_Conditions,Substation_ID
0,2020-01-03 11:00:00,28.865989,0.313611,Snowy,Substation_744
1,2020-01-03 17:00:00,28.902260,0.817728,Clear,Substation_516
2,2020-01-04 04:00:00,24.212651,4.516506,Clear,Substation_261
3,2020-01-04 23:00:00,29.024606,3.821278,Snowy,Substation_560
4,2020-01-05 00:00:00,24.126655,4.965771,Snowy,Substation_258

In [6]:
df = df1.merge(df2, how='left')
df.head()

,Timestamp,Geographical_Area,Customer_Type,Electricity_Consumption (kWh),EV_Charging_Station_Location,EV_Charging_Station_Specifications,EV_Type,Charging_Habit,Number_of_EVs,Substation_ID,Substation_Location,Transmission_Line_Capacity (MW)
0,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40
1,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40
2,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40
3,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40
4,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40

In [7]:
# merging the three tables
df = df.merge(df3, how='left')
df.head()

,Timestamp,Geographical_Area,Customer_Type,Electricity_Consumption (kWh),EV_Charging_Station_Location,EV_Charging_Station_Specifications,EV_Type,Charging_Habit,Number_of_EVs,Substation_ID,Substation_Location,Transmission_Line_Capacity (MW),Temperature (°C),Precipitation (mm),Weather_Conditions
0,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy
1,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40,31.150853,4.032014,Clear
2,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy
3,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40,31.150853,4.032014,Clear
4,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy

In [8]:
# getting information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Timestamp                           520 non-null    object
 1   Geographical_Area                   520 non-null    object
 2   Customer_Type                       520 non-null    object
 3   Electricity_Consumption (kWh)       520 non-null    float64
 4   EV_Charging_Station_Location        520 non-null    object
 5   EV_Charging_Station_Specifications  520 non-null    object
 6   EV_Type                             520 non-null    object
 7   Charging_Habit                      520 non-null    object
 8   Number_of_EVs                       520 non-null    int64
 9   Substation_ID                       520 non-null    object
 10  Substation_Location                 520 non-null    object
 11  Transmission_Line_Capacity (MW)     520 non-null    int64
 12  Temperature (°C)                    520 non-null    float64
 13  Precipitation (mm)                  520 non-null    float64
 14  Weather_Conditions                  520 non-null    object
dtypes: float64(3), int64(2), object(10)
memory usage: 61.1+ KB

In [9]:
df.size

7800

In [10]:
df.shape

(520, 15)

In [11]:
# check for missing values
df.isnull().sum()

Timestamp                             0
Geographical_Area                     0
Customer_Type                         0
Electricity_Consumption (kWh)         0
EV_Charging_Station_Location          0
EV_Charging_Station_Specifications    0
EV_Type                               0
Charging_Habit                        0
Number_of_EVs                         0
Substation_ID                         0
Substation_Location                   0
Transmission_Line_Capacity (MW)       0
Temperature (°C)                      0
Precipitation (mm)                    0
Weather_Conditions                    0
dtype: int64

## EDA Exploratory Data Analysis

In [12]:
# check for numerical columns
df.describe().columns

Index(['Electricity_Consumption (kWh)', 'Number_of_EVs',
       'Transmission_Line_Capacity (MW)', 'Temperature (°C)',
       'Precipitation (mm)'],
      dtype='object')

In [13]:
# check for categorical columns
df.describe(include='object').columns

Index(['Timestamp', 'Geographical_Area', 'Customer_Type',
       'EV_Charging_Station_Location', 'EV_Charging_Station_Specifications',
       'EV_Type', 'Charging_Habit', 'Substation_ID', 'Substation_Location',
       'Weather_Conditions'],
      dtype='object')

<h2>Categorical columns overview</h2>

In [14]:
for i in df.describe(include='object'):
    print ("unique value in " + i)
    print (df[i].value_counts())
    print ('*' * 20)
    print (' ')

unique value in Timestamp
Timestamp
2020-01-14 07:00:00    28
2020-02-08 12:00:00    12
2020-02-09 02:00:00    10
2020-01-05 05:00:00    10
2020-01-06 19:00:00    10
                       ..
2020-01-15 10:00:00     1
2020-01-22 14:00:00     1
2020-01-18 10:00:00     1
2020-02-10 10:00:00     1
2020-01-07 23:00:00     1
Name: count, Length: 97, dtype: int64
********************

unique value in Geographical_Area
Geographical_Area
Rural       243
Urban       142
Suburban    135
Name: count, dtype: int64
********************

unique value in Customer_Type
Customer_Type
Commercial     189
Residential    181
Industrial     150
Name: count, dtype: int64
********************

unique value in EV_Charging_Station_Location
EV_Charging_Station_Location
(31.57926468770396, -112.34086442203312)     28
(41.182658818045226, -92.7344708533918)      12
(63.583093067725756, -127.86651050403304)    10
(40.417010515658404, -91.30178291842324)     10
(73.69716646695062, -79.88868145267253)      10
                                             ..
(69.84796757937274, -158.47082885943715)      1
(30.877262418667893, -110.64590935429956)     1
(68.24304510664354, -93.52940205707596)       1
(68.48667014248917, -163.6617839328701)       1
(68.47602867588083, -93.59186945085591)       1
Name: count, Length: 97, dtype: int64
********************

unique value in EV_Charging_Station_Specifications
EV_Charging_Station_Specifications
Type 2     241
DC Fast    200
Type 1      79
Name: count, dtype: int64
********************

unique value in EV_Type
EV_Type
Electric Scooter    247
Electric Car        152
Electric Bike       121
Name: count, dtype: int64
********************

unique value in Charging_Habit
Charging_Habit
Daily         184
Occasional    170
Weekly        166
Name: count, dtype: int64
********************

unique value in Substation_ID
Substation_ID
Substation_11     40
Substation_907    10
Substation_133    10
Substation_365    10
Substation_764    10
Substation_422    10
Substation_240    10
Substation_720    10
Substation_523    10
Substation_516    10
Substation_845    10
Substation_911    10
Substation_54     10
Substation_816    10
Substation_139    10
Substation_744    10
Substation_890    10
Substation_258    10
Substation_152    10
Substation_74     10
Substation_717    10
Substation_64     10
Substation_208    10
Substation_952    10
Substation_711    10
Substation_978    10
Substation_218    10
Substation_261    10
Substation_339    10
Substation_773    10
Substation_349    10
Substation_752    10
Substation_294    10
Substation_301    10
Substation_443    10
Substation_996    10
Substation_686    10
Substation_999    10
Substation_560    10
Substation_562    10
Substation_87     10
Substation_546    10
Substation_321    10
Substation_805    10
Substation_628    10
Substation_981    10
Substation_659    10
Substation_93     10
Substation_470    10
Name: count, dtype: int64
********************

unique value in Substation_Location
Substation_Location
(33.0822685351715, -113.11893127920547)      20
(66.83643347824741, -69.3563579228404)       20
(57.25813554648914, -70.90582041775649)      10
(58.28177117002581, -63.68654727942088)      10
(47.89908763123269, -118.67329674386087)     10
(64.36090701755798, -133.80850808533813)     10
(32.372452242432914, -91.97497712560822)     10
(30.624362845052183, -115.65951540276367)    10
(18.993866303682488, -100.75709823477048)    10
(45.47271009130331, -100.09243436547942)     10
(62.66146995942492, -122.54175060836332)     10
(35.28954874765295, -113.15639475153566)     10
(50.4364618829951, -94.66059404301454)       10
(45.358755406202235, -100.01956062054819)    10
(65.29324859544627, -146.70392276031393)     10
(61.412230338413714, -109.68531959195673)    10
(57.40551481260807, -67.12254830691549)      10
(41.910727596141314, -89.47805597542896)     10
(42.952789343936345, -106.04933329915355)    10
(51.31761733878904, -71.50961749876785)      10
(56.28333983062358, -158.57390940345235)     10
(51.99107221450014, -67.94183140225455)      10
(76.88905460518797, -82.64905656419866)      10
(59.71723671306972, -117.35260130323095)     10
(70.4161622933303, -83.36759182542556)       10
(36.618181112502576, -117.27755564855767)    10
(53.87696532518596, -68.16881895291628)      10
(70.02538473360673, -84.38057237161145)      10
(49.09514810186988, -122.21095967876713)     10
(80.39323542610704, -75.79784143914193)      10
(49.12307771334813, -87.3598904388042)       10
(66.79887060665365, -86.51124108848195)      10
(81.29596842628432, -87.30422645437207)      10
(52.42152125947889, -110.6990423422252)      10
(30.873564256628715, -113.07946758017968)    10
(62.83210735435462, -70.09011071472403)      10
(81.33030950566821, -82.05575470902825)      10
(53.27588545997275, -69.94482686186713)      10
(58.44848576363795, -156.8135777043508)      10
(46.53427587836652, -106.4085354418207)      10
(57.70345866694469, -113.82215196994068)     10
(81.03181374307167, -92.94174698598532)      10
(34.340771920418675, -78.66199608185256)     10
(66.39631391629455, -89.78064486906199)      10
(48.51267127848301, -79.04080537091501)      10
(67.68164734777318, -68.31077863057318)      10
(17.742238826270427, -95.38244764346588)     10
(59.40889169498651, -108.18648988526724)     10
(67.38148107066795, -65.99403973676873)      10
(37.44171933563681, -82.57364932048542)      10
Name: count, dtype: int64
********************

unique value in Weather_Conditions
Weather_Conditions
Rainy    238
Clear    174
Snowy    108
Name: count, dtype: int64
********************

In [15]:
df.Timestamp=pd.to_datetime(df['Timestamp'])

In [16]:
df.head()

,Timestamp,Geographical_Area,Customer_Type,Electricity_Consumption (kWh),EV_Charging_Station_Location,EV_Charging_Station_Specifications,EV_Type,Charging_Habit,Number_of_EVs,Substation_ID,Substation_Location,Transmission_Line_Capacity (MW),Temperature (°C),Precipitation (mm),Weather_Conditions
0,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy
1,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40,31.150853,4.032014,Clear
2,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy
3,2020-01-22 17:00:00,Rural,Residential,554.336019,"(48.447826648452946, -71.98859080823637)",Type 2,Electric Scooter,Weekly,5,Substation_907,"(57.25813554648914, -70.90582041775649)",40,31.150853,4.032014,Clear
4,2020-01-10 18:00:00,Urban,Industrial,714.394409,"(64.01943603679787, -129.53196438913122)",Type 2,Electric Car,Occasional,8,Substation_907,"(57.25813554648914, -70.90582041775649)",40,17.726056,2.938451,Rainy

In [17]:
# Index colum
df.index = df.Timestamp

In [18]:
df.tail()

,Timestamp,Geographical_Area,Customer_Type,Electricity_Consumption (kWh),EV_Charging_Station_Location,EV_Charging_Station_Specifications,EV_Type,Charging_Habit,Number_of_EVs,Substation_ID,Substation_Location,Transmission_Line_Capacity (MW),Temperature (°C),Precipitation (mm),Weather_Conditions
Timestamp,,,,,,,,,,,,,,,
2020-01-15 12:00:00,2020-01-15 12:00:00,Urban,Residential,428.155578,"(21.013012971309866, -89.33001011359114)",Type 2,Electric Scooter,Occasional,8,Substation_470,"(37.44171933563681, -82.57364932048542)",52,15.264423,1.284959,Clear
2020-01-15 12:00:00,2020-01-15 12:00:00,Urban,Residential,428.155578,"(21.013012971309866, -89.33001011359114)",Type 2,Electric Scooter,Occasional,8,Substation_470,"(37.44171933563681, -82.57364932048542)",52,15.264423,1.284959,Clear
2020-02-04 21:00:00,2020-02-04 21:00:00,Urban,Residential,400.164596,"(59.359457886399674, -135.5756163019498)",DC Fast,Electric Bike,Weekly,9,Substation_470,"(37.44171933563681, -82.57364932048542)",52,12.742318,2.161780,Snowy
2020-01-15 12:00:00,2020-01-15 12:00:00,Urban,Residential,428.155578,"(21.013012971309866, -89.33001011359114)",Type 2,Electric Scooter,Occasional,8,Substation_470,"(37.44171933563681, -82.57364932048542)",52,15.264423,1.284959,Clear
2020-01-15 12:00:00,2020-01-15 12:00:00,Urban,Residential,428.155578,"(21.013012971309866, -89.33001011359114)",Type 2,Electric Scooter,Occasional,8,Substation_470,"(37.44171933563681, -82.57364932048542)",52,15.264423,1.284959,Clear

In [19]:
df.drop(columns='Timestamp', inplace=True)

In [20]:
# see max value for categorical columns
df.describe(include='object').T

,count,unique,top,freq
Geographical_Area,520,3,Rural,243
Customer_Type,520,3,Commercial,189
EV_Charging_Station_Location,520,97,"(31.57926468770396, -112.34086442203312)",28
EV_Charging_Station_Specifications,520,3,Type 2,241
EV_Type,520,3,Electric Scooter,247
Charging_Habit,520,3,Daily,184
Substation_ID,520,49,Substation_11,40
Substation_Location,520,50,"(33.0822685351715, -113.11893127920547)",20
Weather_Conditions,520,3,Rainy,238

In [21]:
pd.crosstab(df.Geographical_Area, df.EV_Type)

EV_Type            Electric Bike  Electric Car  Electric Scooter
Geographical_Area
Rural                         46            65               132
Suburban                      25            59                51
Urban                         50            28                64

In [25]:
pd.crosstab(df.Customer_Type, df.EV_Charging_Station_Specifications)

EV_Charging_Station_Specifications  DC Fast  Type 1  Type 2
Customer_Type
Commercial                               66      23     100
Industrial                               36      32      82
Residential                              98      24      59

In [29]:
df.groupby('Charging_Habit')[["EV_Charging_Station_Location","Substation_ID","Substation_Location"]].min()

,EV_Charging_Station_Location,Substation_ID,Substation_Location
Charging_Habit,,,
Daily,"(18.36750349531624, -90.51721180348756)",Substation_11,"(30.624362845052183, -115.65951540276367)"
Occasional,"(17.721708017690613, -99.11497795177716)",Substation_139,"(17.742238826270427, -95.38244764346588)"
Weekly,"(30.877262418667893, -110.64590935429956)",Substation_11,"(17.742238826270427, -95.38244764346588)"

In [32]:
df.groupby('Charging_Habit')[["EV_Charging_Station_Location","Substation_ID","Substation_Location"]].max()

,EV_Charging_Station_Location,Substation_ID,Substation_Location
Charging_Habit,,,
Daily,"(81.8700948424015, -73.69186820447119)",Substation_999,"(81.33030950566821, -82.05575470902825)"
Occasional,"(81.17855112008782, -69.44123451758139)",Substation_996,"(81.33030950566821, -82.05575470902825)"
Weekly,"(80.99215803008022, -78.29170056920923)",Substation_999,"(80.39323542610704, -75.79784143914193)"

In [34]:
pd.pivot_table(data=df, values=["EV_Charging_Station_Location","Substation_ID","Substation_Location"], index=['Charging_Habit'], columns='Weather_Conditions', aggfunc='min')

                                 EV_Charging_Station_Location  \
Weather_Conditions                                      Clear
Charging_Habit
Daily                 (18.36750349531624, -90.51721180348756)
Occasional           (17.721708017690613, -99.11497795177716)
Weekly              (30.877262418667893, -110.64590935429956)

                                                               \
Weather_Conditions                                      Rainy
Charging_Habit
Daily                 (29.185202287080386, -97.9969280427572)
Occasional          (23.802234393895034, -102.21457458157573)
Weekly               (31.57926468770396, -112.34086442203312)

                                                               Substation_ID  \
Weather_Conditions                                     Snowy           Clear
Charging_Habit
Daily                (31.71555544496056, -83.48874575164818)  Substation_133
Occasional          (44.33704921719799, -108.79106483942573)  Substation_139
Weekly              (42.554699104865485, -77.05991293128305)  Substation_208

                                                    \
Weather_Conditions           Rainy           Snowy
Charging_Habit
Daily               Substation_240   Substation_11
Occasional          Substation_240  Substation_152
Weekly               Substation_11  Substation_152

                                         Substation_Location  \
Weather_Conditions                                     Clear
Charging_Habit
Daily               (34.340771920418675, -78.66199608185256)
Occasional          (17.742238826270427, -95.38244764346588)
Weekly              (32.372452242432914, -91.97497712560822)

                                                               \
Weather_Conditions                                      Rainy
Charging_Habit
Daily               (30.624362845052183, -115.65951540276367)
Occasional          (30.624362845052183, -115.65951540276367)
Weekly               (17.742238826270427, -95.38244764346588)


Weather_Conditions                                    Snowy
Charging_Habit
Daily               (33.0822685351715, -113.11893127920547)
Occasional          (48.51267127848301, -79.04080537091501)
Weekly              (37.44171933563681, -82.57364932048542)

In [41]:
df[['lat', 'lon']] = df.EV_Charging_Station_Location.str.split(',', expand= True).

In [42]:
df[['lat', 'lon']].head()

                                     lat                    lon
Timestamp
2020-01-10 18:00:00   (64.01943603679787   -129.53196438913122)
2020-01-22 17:00:00  (48.447826648452946    -71.98859080823637)
2020-01-10 18:00:00   (64.01943603679787   -129.53196438913122)
2020-01-22 17:00:00  (48.447826648452946    -71.98859080823637)
2020-01-10 18:00:00   (64.01943603679787   -129.53196438913122)

In [47]:
df.drop(columns='EV_Charging_Station_Location', inplace= True)

## Numerical Analysis

In [45]:
#descricbe
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Electricity_Consumption (kWh),520.0,506.979048,79.685933,315.912577,442.633799,505.820872,558.595940,718.980293
Number_of_EVs,520.0,5.288462,2.578528,1.000000,3.000000,5.000000,8.000000,9.000000
Transmission_Line_Capacity (MW),520.0,53.076923,24.482974,10.000000,33.750000,51.500000,76.250000,94.000000
Temperature (°C),520.0,25.384251,4.435231,12.449425,22.390036,25.248302,27.771842,34.104493
Precipitation (mm),520.0,2.608288,1.449541,0.007923,1.462209,2.690685,3.683259,4.965771

In [46]:
for i in df.describe():
    print ('Total number of unique values in {}'.format(i))
    print (df[i].nunique())
    print ("-" * 30)
    print (' ')

Total number of unique values in Electricity_Consumption (kWh)
97
------------------------------

Total number of unique values in Number_of_EVs
9
------------------------------

Total number of unique values in Transmission_Line_Capacity (MW)
40
------------------------------

Total number of unique values in Temperature (°C)
97
------------------------------

Total number of unique values in Precipitation (mm)
97
------------------------------

In [49]:
df.groupby("Charging_Habit")[['Electricity_Consumption (kWh)', 'Number_of_EVs','Transmission_Line_Capacity (MW)','Temperature (°C)','Precipitation (mm)']].max()

,Electricity_Consumption (kWh),Number_of_EVs,Transmission_Line_Capacity (MW),Temperature (°C),Precipitation (mm)
Charging_Habit,,,,,
Daily,689.679298,9,94,34.009070,4.965771
Occasional,714.394409,9,94,34.104493,4.713014
Weekly,718.980293,9,93,33.761350,4.935412

In [50]:
def Range(series):
    return series.max()-series.min()

In [51]:
df[['Number_of_EVs',"Precipitation (mm)"]].agg(Range)

Number_of_EVs         8.000000
Precipitation (mm)    4.957847
dtype: float64

In [52]:
#[low, hing] = df.between(.1, .8)
df['Precipitation (mm)'].quantile(.1,'lower')

0.4354102479571431